page-profile-settings-notification {
  ion-list {
    margin-top: 30px !important;

    $border-color: darken($pjLightGray, 2);

    ion-item {

      ion-label {
        font-size: 0.9em;
      }

      .item-inner {
        border-bottom: 1px solid $border-color !important;
      }

      &:nth-child(1) {
        border-top: 1px solid $border-color !important;
      }

      &:last-child {
        border-bottom: 1px solid $border-color !important;

        .item-inner {
          border-bottom: none !important;
        }
      }
    }
  }
}
