page-profile-my-like {
  .place-holder-message {
    height: 100%;
    // position: relative;

    .text {
      color: $pjRed;
      position: absolute;
      font-weight: lighter;
      font-size: 1.2em;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .item{
    padding-left:0px !important;
  }

  .item-inner {
    padding-right: 0px !important;
  }


  .max_line_elips{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
    font-size: 11px;
    display: inline-block;
    align-self: center;
  }

  .ion-card-local{
    font-size: 1.1rem !important;
    padding-bottom: 2px;
    display: block;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: bold;
  }
.ion-list-row{
  display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    background-color: #f9f9f9;
}
  .row {
    .max_line_elips {
      white-space: nowrap;
      color: black !important;
      margin: 1px 0;
      width: 100%;
      font-size: 1.0rem;
    }
    .item-inner {
      padding-right: 0px !important;
    }
    .button-inner{
      justify-content: flex-end !important;
      font-size: 1.0rem;
      font-weight: 300;
    }
  }

  .card-cell{
    box-shadow: none;
    margin: 0px 0px 5px 0px !important;
    width: 100%;
    border-radius: 5px;
  }

  .likeButton{
    align-self: center;
    padding: 0px;
  }

  .icon-like1{
    display: inline-block;
    //vertical-align: top;
    width: 14px;
    height: 14px;
  }

  ion-label{
    margin:0 !important;
    width: 100% !important;
  }
  .imageProfile{
    item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
      margin: 8px -7px 8px 0 !important;
    }
    img{
      max-width: 25px;
      max-height: 25px;
      margin-top: 6px;
    }
  }
}
