page-term-condition {
    ion-header{
        background-color: #ffffff;
    }
    h3{
          text-align: center;
    }
    ion-footer{
        background-color: #ffffff;
        text-align: center;
        padding: 10px;
    }
}
