page-forgot-password {
    .pj-long-button{
        height: 45px;
        line-height: 50px;
        padding: 0 !important;
        color: #fdfdfd;
        background-color: #FF2742;
        text-align: center;
        font-size: 1.3em;
        width: 65%;
        margin: 10px auto;
        border-radius: 25px;
      }
}
