<ion-header mode="ios">
  <ion-navbar mode="ios">
    <ion-title mode="ios">忘记密码</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div style="padding: 15px;"></div>
  <ion-row class="input" *ngIf="!hasCode">
    <ion-list>
      <ion-item>
        <ion-label class="icon-label icon-phone"></ion-label>
        <ion-input type="number" placeholder="输入电话" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>
    </ion-list>
  </ion-row>
  <ion-row class="sign-in-button" *ngIf="!hasCode">
    <ion-col text-center>
      <button class="pj-long-button" (click)="sendVarifyCode()">发送验证</button>
    </ion-col>
  </ion-row>
  <ion-row class="input" *ngIf="hasCode">
    <ion-list>
      <ion-item>
        <ion-label class="icon-label icon-auth"></ion-label>
        <ion-input type="number" placeholder="码" [(ngModel)]="code"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="icon-label icon-password"></ion-label>
        <ion-input type="password" placeholder="新密码" [(ngModel)]="newPasswod"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="icon-label icon-password"></ion-label>
        <ion-input type="password" placeholder="确认密码" [(ngModel)]="confPassword"></ion-input>
      </ion-item>
    </ion-list>
  </ion-row>
  <ion-row class="sign-in-button" *ngIf="hasCode">
    <ion-col text-center>
      <button class="pj-long-button" (click)="changePassword()">重设密码</button>
    </ion-col>
  </ion-row>
</ion-content>
