page-delivery-info {
  // .scroll-content {
  //   padding-top: 100px !important;
  // }
  .addressfocus .scroll-content{
    padding-bottom: 350px !important;
  }
  ion-header{
    background-color: #ffffff;
    .toolbar-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .toolbar-content{
      .title-ios{
        padding-right: 10px !important;
        padding-left: 40% !important;
        height: 100% !important;
      }
    }
    
  }
  .otp-name-input{
    display: flex;
    background-color: transparent;
    width: 80%;
    margin: 0 auto 15px auto;
  }
  .input-container {
    background-color: transparent;
    width: 80%;
    margin: 0 auto 15px auto;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px $pjAnotherGray;

    img {
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 20px;
      margin: 5px 10px 5px 15px;
    }

    input {
      display: inline-block;
      vertical-align: middle;
      background-color: transparent;
      border: none;

      &::placeholder {
        color: $pjGray;
        font-weight: lighter;
      }
    }

    &.user-name-input {
      img {
        transform: translate(0, -2px);
      }
    }
  }
  #pj-item-button {
    // border: 1px solid #424242 !important;
    background: #e2e2e2 !important;
    .item-inner {
      ion-label {
        color: #424242;
        text-align: center;
        margin: 0;
        font-weight: 700;
      }
    }

    &:active {
      border: 1px solid #e2e2e2 !important;
      ion-label {
        color: #424242;
      }
    }

    &.disabled {
      border: 1px solid transparent !important;
      background-color: transparent;
      ion-label {
        color: #424242;
        font-weight: lighter;
      }
    }
  }
.otp-name-input{
  input{
    margin: 0px;
    background-color: #ffffff;
  }
}
  .location-input {
    display: flex;
    ion-select {
      display: flex;
      max-width: 90%;
      width: 90%;
      margin-left: 8px;
      padding: 0px;
      align-items: center;
      position: relative;

      .select-placeholder {
        color: $pjGray;
        font-weight: lighter;
      }

      .select-icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;

        .select-icon-inner {
          left: 0;
        }
      }
    }
  }

  .submit-button {
    // width: 120px;
    // height: 30px;
    // line-height: 30px;
    // display: block;
    // margin: 100px auto 0 auto;
    // text-align: center;
    // background-color: $pjRed;
    // color: white;
    // border-radius: 5px;
    width: 100%;
    height: 50px;
    background-color: #FF2742;
    color: white;
    position: absolute;
    font-size: 1.3em;
    bottom: 0;
    &:active {
      background-color: $pjDarkRed;
    }
  }
  .overlay{
    opacity: 0;
    position: absolute;
    top: -100000px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    .message-box-wrapper{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 65%;
      transform: translate(-50%,-50%);
      background-color: #ffffff;
      border-radius: 10px;
      padding: 30px 20px;
      b{
        font-size: 16px;
      }
      p{
        font-size: 14px;
      }
      .button-wrapper{
        display: flex;
        justify-content: space-around;
        button{
          background-color: #000000;
          color: #ffffff;
          padding: 8px 12px;
          font-size: 12px;
          border-radius: 20px;
          width: 75px;
        }
        .acc{
          background-color: #ff2744;
        }
      }
      .check-circle{
        height: 100px;
        width: 100px;
        margin: 20px auto;
        border: 2px solid #ff2744;
        border-radius: 50%;
        .check{
          height: 22px;
          width: 53%;
          margin: 30px auto;
          border-bottom: 3px solid #ff2744;
          border-left: 3px solid #ff2744;
          transform: rotate(-50deg);
        }
      }
      .pj-red-text{
        text-align: center;
        font-size: 16px;
        color: #ff2744;
      }
    }
  }
  .overlay.fadeout{
    top: 0px;
  }
  .overlay.fadein{
    opacity: 1;
    transition:opacity 0.2s ease-in-out;
  }
}
