<ion-header mode="ios">
  <ion-navbar mode="ios">
    <ion-title mode="ios">达人影响力</ion-title>
  </ion-navbar>
  <ion-toolbar mode="md">
      <ion-segment mode="md" class="wrapper" [(ngModel)]="pageTabs" color="dark">
        <ion-segment-button value="tab0" (click)="selectedTab(0)" [class.selected]="selectedBadgeTab == 0">
          <div class="tabs">
            宝帖
          </div>
        </ion-segment-button>
        <ion-segment-button value="tab1" (click)="selectedTab(1)" [class.selected]="selectedBadgeTab == 1">
          <div class="tabs">
            产品评价
          </div>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="bodyContent">
    <ion-slides #slide>
      <ion-slide *ngIf="expertBadge" class="t1">
        <ion-list *ngIf="reviewArray.length > 0">
          <div *ngFor="let item of reviewArray; let i = index;">
            <div class="list-item">
              <div class="image-container">
                <img *ngIf="item.imageArray.length > 0" (click)="showProduct(item)" useImg="true" style="object-fit: cover;max-height:300px;width:100%" [src]="imageUrl+item.imageArray[0]">
              </div>
              <div class="info">
                  <div class="text">{{item.name}}</div>
                  <button *ngIf="item.reviewLikeCount > 0">
                    <img src="assets/img/icons/heart_white_new.png">{{item.reviewLikeCount}}
                  </button>
              </div>
            </div>
            <hr>
          </div>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite1($event)" *ngIf="!(pageNo1 == totpageProduct)" threshold="5px">
            <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </ion-slide>
      <ion-slide *ngIf="myBadge" class="t2">
        <ion-list *ngIf="ugcArray.length > 0">
          <div *ngFor="let item of ugcArray; let i = index;">
            <div class="list-item">
              <div class="image-container">
                <img *ngIf="item.imageArray.length > 0 && item.timelineContent == 'ARTICLE'" (click)="gotoNextArticle(item.id,item.featured,item)" useImg="true" style="object-fit: cover;max-height:300px;width:100%" [src]="imageUrl+item.imageArray[0]">
                <img *ngIf="item.imageArray.length > 0 && item.timelineContent != 'ARTICLE'" (click)="GoDetail(item,item.id,item.featured)" useImg="true" style="object-fit: cover;max-height:300px;width:100%" [src]="imageUrl+item.imageArray[0]">
              </div>
              <div class="info">
                  <div class="text">{{item.title}}</div>
                  <button *ngIf="item.likeCount > 0">
                    <img src="assets/img/icons/heart_white_new.png">{{item.likeCount}}
                  </button>
              </div>
            </div>
            <hr>
          </div>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite2($event)" *ngIf="!(pageNo2 == totpageUgc)" threshold="5px">
            <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
          </ion-infinite-scroll>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
