<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-pj-plugin" version="1.0.0">
    <name>Pushy SDK Receiver for Cordova</name>
    <description>Pj custom Plugin for cordova / ionnic native</description>
    <license>Apache 2.0</license>
    <keywords>Pj-Plugin</keywords>
    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova" version=">=4.0.0" />
    </engines>
    <js-module src="www/pjplugin.js" name="PjPlugin">
        <clobbers target="PjPlugin" />
    </js-module>
    
    <platform  name="ios">
        <config-file target="config.xml" parent="/*">
                    <feature name="PJPlugin">
                        <param name="ios-package" value="PJPlugin"/>
                        <param name="onload" value="true" />
                    </feature>
            
                <!-- Plugin source code -->
        </config-file>

<config-file platform="ios" target="*-Info.plist" parent="ITSAppUsesNonExemptEncryption">
        <false/>
  </config-file>
        
        <preference name="PHOTO_LIBRARY_USAGE_DESCRIPTION" default="Allow to access and add photos to album "/>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>$PHOTO_LIBRARY_USAGE_DESCRIPTION</string>
        </config-file>

        <header-file src="src/ios/PJPlugin.h" />
        <source-file src="src/ios/PJPlugin.m" />
        <source-file src="src/ios/AppDelegate+PJPlugin.m" />

        <framework src="CFNetwork.framework" weak="true" />
        <framework src="CoreFoundation.framework" weak="true" />
        <framework src="CoreTelephony.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="CoreGraphics.framework" weak="true" />
        <framework src="Foundation.framework" weak="true" />
        <framework src="UIKit.framework" weak="true" />
        <framework src="Photos.framework" weak="true" />
    </platform>

    <platform name="android">
        <!-- Vibrate Permission -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PJPlugin">
                <param name="android-package" value="com.pjdaren.wom.PJPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

       <source-file src="src/android/PJPlugin.java" target-dir="src/com/pjdaren/wom" />
         <framework src="src/android/apksignFix.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
