<ion-header>
  <ion-navbar>
    <div class="navbar-header-container">
      <div class="button-area">
        <img class="like-icon" src="assets/img/icons/heart_white_new.png">
        <p *ngIf="articleData.likeCount > 0">{{articleData.likeCount}}</p>
      </div>
      <div class="button-area"
           [navPush]="commentPage"
           [navParams]="{type: 'article', id: articleData.id, title: articleData.title}">
        <img class="comment-icon" src="assets/img/icons/comment_white_new.png">
        <p *ngIf="articleData.likeCount > 0">{{articleData.commentCount}}</p>
      </div>
      <img class="share-icon" src="assets/img/icons/share.png">
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="header-image">
    <img src="{{articleData.headerImage}}">
  </div>
  <div class="article-title">
    {{articleData.title}}
  </div>
  <div class="article-title-writer-divider">
  </div>
  <div class="article-writer">
    By {{articleData.writer}}
  </div>
  <div id="html-content">
    <custom-html-piece [content]="articleData.content"></custom-html-piece>
  </div>
</ion-content>
